<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
    <link rel="stylesheet" href="/backEnd/templates/Scheduler/styles.css">
    <link rel="icon" type="image/x-icon" href="/backEnd/templates/Scheduler/images/favicon.ico">
</head>
<body>
    
    <!-- Navegate Menu with list-->
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>

    </ul>
    <table style="width: 100%;">
        <tr>
            <th></th>
            <th>LUNES</th>
            <th>MARTES </th>
            <th>MIERCOLES </th>
            <th>JUEVES </th>
            <th>VIERNES </th>
            <th>SABADO</th>
            <th>DOMINGO</th>
        </tr>

        <tr>
            <th>05:00 - 06:00</th>
            <td></td>
            <td></td>
            <td rowspan="2"></td>
            <td></td>
            <td rowspan="2"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>06:00 - 07:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>07:00 - 08:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>08:00 - 09:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</body>
</html>